@import "../../../SCSS/variables";

.wrapper {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  background-color: $blue-dark;
  padding: 5px 20px;
  align-items: center;
  color: $gray-light;
  font-size: 20px;

  span {
    margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }
}