@import "../../SCSS/variables";

.wrapper {
  top: 0px;
  left: 0px;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: $black;
  }

  .task {
    padding: 20px;
    box-shadow: $shadow;
    background-color: $gray-blue;
    width: inherit;
    margin: 20px;
    height: 72vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 5px;
    z-index: 100;
  }

  .close {
    display: block;
    width: 26px;
    height: 26px;
    position: relative;
    background: none;
  }
  .close:before,
  .close:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    width: 26px;
    height: 1px;
    background: $black;
  }

  .close:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .close:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}