$black: #232323;
$background: #0079BF;
$gray-light: #f6f6f6;
$gray-blue: #e1e7ef;
$gray-dark: #CBCBCB;
$blue-dark: #0067A3;
$radius: 5px;
$radius-10: 10px;
$shadow: 0px 0px 10px -8px rgba(0, 0, 0, 0.5)
